.shelf {
  display: block;
  position: relative;
  width: 94%;
  height: 20px;
  margin-bottom: 50px;
  background-color: #d1d8de;
  /* Old browsers */

  background-image: -moz-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%);
  /*FF3.6+ */

  background-image: -webkit-gradient(90deg, left top, right bottom, color-stop(0%, #d1d8de), color-stop(100%, #eff1f3));
  /*Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%);
  /*Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%);
  /*IE10+ */

  background-image: linear-gradient(90deg, #d1d8de 0%, #eff1f3 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eff1f3', endColorstr='#d1d8de', GradientType='0' );
  /* IE6-9 */

  -webkit-box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
  -moz-box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
  box-shadow: 0 2px 2px #708698, 0 4px 0 #abb8c3, 0 20px 30px -8px #000000, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}
.bookend_left {
  display: block;
  position: absolute;
  left: -25px;
  top: -18px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}
.bookend_left:before {
  position: absolute;
  top: 31px;
  left: 17px;
  width: 20px;
  height: 10px;
  background-color: #ffffff;
  content: "";
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}
.bookend_right {
  display: block;
  position: absolute;
  right: -25px;
  top: -18px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg);
}
.bookend_right:before {
  position: absolute;
  top: 31px;
  right: 17px;
  width: 20px;
  height: 10px;
  background-color: #ffffff;
  content: "";
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg);
}
.shelf .reflection {
  display: block;
  position: absolute;
  top: 20px;
  left: 1px;
  width: 99.8%;
  height: 1px;
  background-color: #ffffff;
  /* Old browsers */

  background-image: -moz-linear-gradient(0deg, #ffffff 0%, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.8) 65%, rgba(0, 0, 0, 0) 100%);
  /*FF3.6+ */

  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, #ffffff), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(65%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(0, 0, 0, 0)));
  /*Chrome,Safari4+ */

  background-image: -webkit-linear-gradient(0deg, #ffffff 0%, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.8) 65%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */

  background-image: -o-linear-gradient(0deg, #ffffff 0%, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.8) 65%, rgba(0, 0, 0, 0) 100%);
  /* Opera 11.10+ */

  background-image: -ms-linear-gradient(0deg, #ffffff 0%, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.8) 65%, rgba(0, 0, 0, 0) 100%);
  /*IE10+ */

  background-image: linear-gradient(0deg, #ffffff 0%, rgba(0, 0, 0, 0) 35%, rgba(255, 255, 255, 0.8) 65%, rgba(0, 0, 0, 0) 100%);
  /* W3C */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0, 0, 0, 0)', endColorstr='#ffffff', GradientType='0' );
  /* IE6-9 */

}

