@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('/assets/fonts/fonts/Chunkfive-webfont.eot');
    src: url('/assets/fonts/fonts/Chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/fonts/Chunkfive-webfont.woff') format('woff'),
         url('/assets/fonts/fonts/Chunkfive-webfont.ttf') format('truetype'),
         url('/assets/fonts/fonts/Chunkfive-webfont.svg#ChunkFiveRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@import url(http://fonts.googleapis.com/css?family=Dorsa);
@charset "utf-8";
/*------ header ------- */
header {
  padding: 30px 0 29px;
  z-index: 50;
}

/*nav*/
.navbar_ .container {
  position: relative;
}
.nav-collapse_ {
  padding: 0;
  left: 10px;
  z-index: 10;
  float: right;
}
.nav-collapse_ .nav li {
  margin: 0;
  padding: 0;
  position: relative;
  zoom: 1;
}
.nav-collapse_ .nav > li {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: none;
  margin-left: 22px;
}
.nav-collapse_ .nav li a {
  text-shadow: none;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  font-weight: 300;
  color: #1a1a1a;
}
.nav-collapse_ .nav > li > a {
  margin: 0;
  padding: 30px 0 32px;
  display: block;
  background: none;
  position: relative;
  z-index: 20;
  width: 84px;
  -webkit-border-radius: 44px;
  -moz-border-radius: 44px;
  border-radius: 44px;
}

.nav-collapse_ .nav > li.sfHover > a,
.nav-collapse_ .nav > li.sfHover > a:hover,
.nav-collapse_ .nav > li > a:hover,
.nav-collapse_ .nav > li.active > a,
.nav-collapse_ .nav > li.active > a:hover {
  background: #c6e2cc;
  color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.nav-collapse_ .nav > li.sfHover > a .sf-sub-indicator,
.nav-collapse_ .nav > li.active > a .sf-sub-indicator {
  background-position: 0 bottom;
}




.navbar_ .btn {
    display: inline-block;
    float: right;
    background: #c6e2cc;
    padding: 18px 0 20px;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-shadow: none;
    color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 63px;
    text-align: center;
    font-weight: normal;
    position: relative;
    display: none;
  }


  .navbar_ .btn:hover {
    background: #181818;
    color: #ffffff;
  }
  .navbar_ .btn .icon-bar {
    position: absolute;
    width: 9px;
    height: 6px;
    background: url(../img/indicator.png) no-repeat 0 0;
    left: 50%;
    bottom: 12px;
    margin-left: -5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
  }
  @media (min-width: 768px) and (max-width: 979px) {
  .navbar_ .btn {
    display: none !important;
  }
  /* navbar */
  .navbar_ {
    margin: 0;
    position: relative;
  }
  .navbar_ .navbar-inner_ {
    padding: 0;
    margin: 0;
    border: none;
    min-height: inherit;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  }
  /*nav*/
  .navbar_ .container {
    position: relative;
  }
  .nav-collapse_ {
    height: auto !important;
    overflow: visible !important;
    clear: none !important;
  }
  .nav-collapse_ .nav > li {
    float: left !important;
    margin-left: 10px;
  }

}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  /* navbar */
  .nav-collapse_ {
    padding-top: 0px;
    padding-right: 0;
  }
  .navbar_ .nav-collapse_ {
    position: relative;
   left:50px;
    top: 40px;
    right: auto;
  }
  .navbar_ .btn {
    display: inline-block;
    float: right;
    background: #c6e2cc;
    padding: 18px 0 20px;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    text-shadow: none;
    color: #ffffff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width: 63px;
    text-align: center;
    font-weight: normal;
    position: relative;
  }
  .navbar_ .btn:hover {
    background: #c6e2cc;
    color: #c6e2cc;
  }
  .navbar_ .btn .icon-bar {
    position: absolute;
    width: 9px;
    height: 6px;
    background: url(../img/indicator.png) no-repeat 0 0;
    left: 50%;
    bottom: 12px;
    margin-left: -5px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
  }
  .nav-collapse_ .nav {
    position: relative;
    zoom: 1;
    z-index: 900;
    width: 600px;
    background: #ffffff;
    padding: 0px 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
  .nav-collapse_ .nav li {
    background: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav-collapse_ .nav li a {
    display: block;
    font-weight: normal;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    padding: 8px 0;
    margin-left: 60px;
    font-weight: normal;
    font: 30px/35px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;

  }
  .nav-collapse_ .nav > li.sfHover,
  .nav-collapse_ .nav > li:hover,
  .nav-collapse_ .nav > li.active,
  .nav-collapse_ .nav > li.active {
    background: none;
  }
  .nav-collapse_ .nav > li.sfHover > a,
  .nav-collapse_ .nav > li.sfHover > a:hover,
  .nav-collapse_ .nav > li > a:hover,
  .nav-collapse_ .nav > li.active > a,
  .nav-collapse_ .nav > li.active > a:hover {
    text-decoration: none;
    color: #ffffff;
    background: #c6e2cc;
  }
  .sub-menu > a {
    position: relative;
    display: block;
  }
  .nav-collapse_ .nav ul {
    position: absolute;
    display: none;
    width: 100%;
    list-style: none;
    zoom: 1;
    z-index: 9;
    background: #ffffff;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
  }
  .nav-collapse_ .nav ul li a {
    
  }
  .nav-collapse_ .nav ul li a:hover {
    background: #575757 !important;
  }
  .row {
    padding: 0 20px;
  }
  footer {
    padding-left: 20px;
    padding-right: 20px;
  }
  .bg-glow {
    background: none;
  }
  .thumbnail-1 > img {
    width: 100%;
  }
  #form-search input {
    width: 70%;
  }
  .portfolio {
    margin-left: -30px;
  }
  .portfolio li {
    float: left;
    margin-left: 30px;
    width: 44%;
  }
  .portfolio li img {
    width: 100%;
  }
  #search input {
    width: 66%;
  }
  .thumbnails-1 .thumbnail-1 img {
    width: 100%;
  }
  .thumbnails-1 {
    margin-left: -20px;
  }
  .thumbnails-1 li {
    float: left;
    width: 45%;
    margin-left: 20px;
  }
}

/*------ h1, h2, h3, h4, h5, h6 ------- */
h1,
h3,
h4,
h5,
h6 {
  text-transform: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
}
h1 {
  font-size: 70px;
  line-height: 74px;
}
header h1 {
  padding: 0;
  margin: 0;
}
h2 {
 	font: 50px/68px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
}
h3 {
  font-size: 30px;
  line-height: 34px;
  margin: 32px 0 15px;
  font-weight: normal;
}
.content-extra h3 {
  margin: 42px 0 25px;
}
h4 {
  font-size: 20px;
  line-height: 50px;
  margin: 21px 0 20px;
  color:white;
}
h5 {
  font-size: 18px;
  color: black;
  font-weight: 400;
  letter-spacing: -1px;
}
.genresbadge {
  font-size: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 10px;
}
p {
  padding-bottom: 25px;
  margin: 0;
}
h2::first-letter {
	color: #c6e2cc;
	font-weight: normal;
}
h4::first-letter {
	color: #c6e2cc;
	font-weight: normal;
}
.youtubetitle
{
	font-size: 35px;
  line-height: 50px;
  margin: 21px 0 20px;
  color:black;
}
.youtubetitle::first-letter {
	color: #c6e2cc;
	font-weight: normal;
}
.posttitle
{
	font: 50px/68px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
}
.slogan
{
	font-size: 12px;
  color: white;
  font-weight: 100;
  letter-spacing: -1px;
}
.postbody
{
	 text-transform: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  margin-top: 0px;
  padding-left: 20px;
  
}
.notificationfont
{
	font-size: 14px;
  color: black;
  font-weight: 300;
  letter-spacing: -1px;
}
.activitytitle
{
	text-transform: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 18px;
}
.infofont
{
	font: 30px/68px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
	padding: 10px
}
.visitaccounttitle
{
	text-transform: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 14px;
}
.footerfont
{
	font-size: 20px;
  line-height: 50px;
  margin: 10px 0 -20px;
  color:black;
}
.navbar-inner
{
	background-color: grey;
}
.namevisit
{
 	text-transform: none;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
	font-size: 40px;
	margin-top: 40px;
}
.musiccount
{
	text-transform: none;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
	font-size: 20px;
	margin-left: 10px;
	margin-top: 0px;
}
.followcount
{
	text-transform: none;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -1px;
	font-size: 20px;
	margin-left: 0px;
	margin-top: 0px;
	padding-left: 10px;
}
.totalscore
{
	font: 30px/68px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
	padding: 10px
}
.email
{
	font-size: 18px;
  color: black;
  font-weight: 300;
  letter-spacing: -1px;
  padding-top: 30px;
}
.biographytext
{
	margin-left: -10px;
	padding-right: 5px;
}
.infoplaylist
{
	font: 16px/14px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
	padding: 20px
}
.infoownplaylist
{
	font: 16px/14px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
	
}







