
@import url(http://fonts.googleapis.com/css?family=Dorsa);
@charset "utf-8";
/* Top Navbar
==========================================*/
#the-music
{
	padding-left: 15px;
}
.thumbnail h5
{
	padding: 5px;
}
#play
{
	color: #96daa5;
}
.required
{
	color: red;
}
.sharebutton
{
	padding-left: 20px;
}
.optional
{
	color: #96daa5;
}
.acctitle
{
	color: #96daa5;
}
.accsong
{
	color: #96daa5;
}
.styleacc
{
	color: #96daa5;
}
.likebox
{
	margin-left: -30px;
}
.thumbnails>li
{
	margin-left: 30px;
}
.playplaylist
{
	color: #96daa5;
	padding: 25px;
	padding-left: 90px;
	left: 60px;
	top:25px;
	
}
.imgscore
{
	padding-top: 10px;
	height: 75px;
}
.headerplaylist
{
	padding-left:20px;
}
.playplaylist a:hover
{
	text-decoration: none;
}
.eye
{
	margin-right: 10px;
}
.playlisticon
{
	padding-top: 15px;
}
.stratus
{
	color: #96daa5;
}
.introvideoimg
{
	padding:25px;
}
.copybutton
{
	min-height: 30px;
	padding: 10px;
}
.go
{
	margin-left: 25px;
}
.homemusic
{
	padding-left: 0px;
}
.followers
{
	margin-right: 25px;
}
.watch
{
	margin-left: 20px;
}
.accountposts img
{
	height: 90px;
}
.polaroidyoutube
{
	height: 250px;
}
.navigation
{
	margin-top: 75px;
}
.btnplus
{
	margin-left: 0px;
	margin-top: 10px;
}
#suggestions
{
	position: absolute;
	background-color: whiteSmoke;
	border-radius: 15px;
	margin-top: 5px;
	margin-left: 7px;
	max-height: 80px;
	overflow:scroll;

}
.searchimg
{
	padding: 5px;
}
#searchusers
{
	margin-left: 40px;
}
.graph
{
	width: 100%;
	height: 200px;
}
.visitgraph
{
	height: 90px;
}
.levelimg
{
	padding-top: 20px;
}
.score
{
	width: 100%;
	background-color: #C6E2CC;
	
			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	
	color: black;
	margin-top: 25px;
}

.headervisit
{
	width: 100%;
	background-color: #C6E2CC;
	
			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	
	color: black;
	margin-top: 25px;
}
.profilepicgraph
{
	height: 30px;
}
.scorebar
{
	margin-top: 15px;
}
#upload-message-form
{
	margin-bottom: 0px;
}
#messagetext
{
	margin-top: 20px;
}
.socialbutton
{
	margin-top: 30px;
}
.greyprofile
{
	
	height: 172px;
	margin: 0px;
}
.profilepicture
{
	margin-top: 7px;
}
.accountposts img
{
	padding: 3px;
	margin-left: -9px;
	margin-right: -15px;
	margin-bottom: -10px;
	background-color: black;
}
.accountposts a:hover
{
	display: none;
}

.infoaccount
{
	width: 100%;
	background-color: whiteSmoke;
			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	color: black;
	margin-top: 25px;
	margin-left: 0px;
}

.info
{
	width: 100%;
	background-color: #C6E2CC;

			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
	margin-left: 0px;
	margin-bottom: 15px;
}
.tastes
{
	padding-left: 30px;
}

.activityref
{
	color:black;
}
.notificationsitem:hover
{
	opacity:0.6;
}
.notread
{
	background-color: #C6E2CC;
}
.notreadimg
{
	padding: 5px;
	margin-left: 0px;
}
.readimg img
{
	height: 35px;
}
.notifications
{
	background-color: whiteSmoke;
	height:180px;
	overflow: auto;
}
.soundcloudactivity
{
	max-height: 360px;
}
.notificationsitem
{
	width: 100%;
	margin-left: 0px;
	margin-top: 5px;
}
.nottext
{
	height:25px;
	margin-top: 10px;
	margin-left: 0px;
}
.messagesection
{
	width: 84%;
}
.messagepost img
{
	margin: 25px;
}
.commentsection
{
	width: 84%;
}
.commentpost
{
}
.commentpost img
{
	margin: 0px;
}
.likeref
{
	color:black;
	margin-left: 25px;
}
.likevalue
{
	margin-left: 10px;
}
.heart
{
	width: 50px;
}
.editbody
{
	color: black;
}
.getstarted
{
	min-height: 110px;
	margin-top: 40px;
}
.getstarted a
{
	text-decoration: none;
}
.accountpost
{
	margin-left: 40px;
}

.accountimg
{
	margin-top: 7px;
}
.editaccount
{
	margin-top: 35px;
}
.writemessage
{
	height:100%;
	width: 100%;
	background-color: whiteSmoke;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
		box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
	
	color: black;
	margin-top: 25px;
	margin-bottom: 25px;
}
.writecomment
{
	
	width: 100%;
	background-color: whiteSmoke;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
		box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
	
	color: black;
	margin-top: 25px;
	margin-bottom: 25px;
}
.writecomment img
{
	padding: 20px;
}
.welcome
{
	width: 100%;
	height: 100%;
	background-color: #c6e2cc;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
		box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
	
	color: black;
	margin-top: 0px;
	margin-left: 0px;
}
.welcometitle
{
	font: 50px/68px 'ChunkFiveRegular', Arial, sans-serif;letter-spacing: 0;
  color:white;
}
.welcometext
{
	text-transform: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  margin-bottom: 0px;
}
.navbar-inverse .navbar-inner {
 
}
.welcomecontent
{
	padding: 20px;
}
.controls
{
	margin-top: 25px;
}

.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(198,226,204, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view {
   	width: 95%;
    min-height: 100%;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.box {
  width: 250px;
  margin: 10px;
  float: left;
}

.box img {
  display: block;
}

.video-container {
    position: relative;
    padding-top: 0px;
}

.video-container iframe,
.video-container object,
.video-container embed {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
}

.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-item {
    width: 100%;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.slider-img
{
	width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-left: 30px;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.sliderz-img
{
	width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 15px;
    overflow: hidden;
    position: relative;
        cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;

}
.youtubeimgslider
{
  background-size: Auto 250px;
}
.soundimgslider
{
	background-size: Auto 250px;
}
.soundimgsliderz
{
	background-size: Auto 350px;
}

.youtubeimg
{
  background-size: Auto 220px;
}
.soundcloudimg
{
	background-size: Auto 220px;
}

.ch-grid {
    margin: 0px 0 0 0;
    padding-left: 0px;
    list-style: none;
    
    
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 36px;
    margin-top: 60px;
    margin-bottom: 90px;
}


.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}
.test
{
	height: 220px;
}
.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
  	line-height: 34px;
 	font-weight: normal;
    margin: 0 35px 20px;
    padding: 30px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 0px 20px;
    font-style: italic;
    margin-top: -25px;
    margin-left: 40px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}

.select2-drop 
{
	display: none;
}
#top-navbar {

	margin-bottom: 25px;
	background-color:#c6e2cc;

}

.carousel
{
	margin-bottom: 0px;
}
.thumbnails-home
{
	margin-left: 25px;
}
.sf-menu
{
	margin-left: 20px;
}
#myCarousel
{
	color:white;
}
.carousel-caption
{
	height: 235px;
}
.navbarmusic
{
	margin: 0px;
	width: 97%;
}
.soundcloud
{
	margin-top: 80px;
}

.titlemusicpost
{
	min-height: 80px;

}
.itemsnav
{
	margin-right: -20px;
}

.titlemusicpost h6
{
	font-size: 14px;
  color: black;
  font-weight: 300;
  letter-spacing: -1px;
  padding: 5px;
}
.titlemusicpost h6::first-letter {
	color: #c6e2cc;
	font-weight: normal;
}
.accountimg img
{
	margin-top: 70px;
}
.music-posts a
{
	text-decoration: none;
}
.deletepostaccount
{
	margin-top: 15px;
}

#postsoundcloud
{
	width: 100%;
	margin-top: 45px;
}

.titlemusicpost
{
	text-decoration: none;
	font-size: 18px;
  	color: black;
  	font-weight: 200;
  	letter-spacing: -1px;
}
.genresbadge
{
	margin-right: 25px;
	letter-spacing: 0.2em;
	margin-bottom: 25px;
}
.accountmusicpost
{
	margin-bottom: 10px;
}

/* Header
==========================================*/

.site-header {
	position: relative;
}
.site-header .site-header-content {
	position: absolute;
	right: 0;
	bottom: 0;
}
.site-header .site-header-content .nav,
.site-header .site-header-content .form-search {
	margin-bottom: 0;
}
.site-header .site-header-content .form-search {
	float: right;
}
.artist-menu
{
	background-color: #c6e2cc;
	margin-bottom: 25px;
}
.viewslikes
{
	margin-left: 35px;
	margin-bottom: 10px;
}
.viewslikesact
{
	padding:15px;
	padding-left: 100px;
}
.viewslikes2
{
	margin-left: 50px;
	margin-bottom: 10px;
}

.shelfmusicpost
{
	margin-left: 10px;
}
.likes
{
	margin-left: 20px;
}
.likes2
{
	padding: 35px;
}
.likebutton
{
	width: 80%;
	margin-top: 25px;
	background-color: #C6E2CC;
	
			background-image: -webkit-gradient(linear, 0 0, 100% 100%,
									color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),
									color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)),
									color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent),
			 						to(transparent));
			background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
			background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%,
								transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%,
								transparent 75%, transparent);
}
/* footer
==========================================*/
.site-footer
{
	background-color: #c6e2cc;
	height: 150px;
	margin-top: 80px;
}
.logofooter img
{
	margin-top: 15px;
}
/* Menu
==========================================*/
.menu .nav ul {
	margin-bottom: 1px;
	padding-left: 25px;
}
.menu .nav ul > li:first-child > a {
	border-top: none;
	border-radius: 0;
}
.menu .nav ul > li:last-child > a {
	border-radius: 0;
}
/* Sidebar
==========================================*/

.newpage
{
	margin-bottom: 15px;
	display:block;
}
.buttonnewbusinnescard
{
	margin-bottom: 15px;
	display:block;
}


/* Login
==========================================*/

.login-box {
	margin: 0 auto;
	max-width: 500px;
}
.register-box {
	margin: 0 auto;
	max-width: 800px;
}
/* Musicpost
==========================================*/
.postreview
{
	
	height: 100%;
	padding: 20px;
	width: 94%;
	background-color: #c6e2cc;
	-webkit-box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
		box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.50), -2px 2px 3px 1px rgba(255, 255, 255, 0.05) inset;
	
	color: black;
	margin-top: 25px;
	margin-bottom: 15px;
}
.comments
{
	-moz-border-radius: 15px;
	border-radius: 15px;
	&
	padding: 25px;
}
.commentpost
{
	padding:0px;
}
.commentpost img
{
	margin-left:25px;
}
.commentpost h6
{
	margin-right: 15px;
}
.buttoncomment
{
	margin-bottom: 25px;
}
.loadmore
{
	margin-top: 50px;
}



/* Blocks
==========================================*/
.delete-links a
{
	float: right;
}
.document-links
{
		float:right;
}
/* Search
==========================================*/
.search-table td
{
	height: 60px;
}

/* Settings
==========================================*/

.button-settings
{
	margin-top: 10px;
}
/* User role
==========================================*/
.add-userbutton
{
	margin-bottom: 10px;
}
/* Usermanagement
==========================================*/
.btn-usermanagement
{
	margin-bottom: 10px;
}
/* Businesscards
==========================================*/
.thumbnail-businesscards img
{
	margin-bottom: 7px;
}
.btn-create
{
	margin-bottom: 10px;
} 
/* User roles
==========================================*/
.table td.center
{
	text-align: center;
}
.table th.center
{
	text-align: center;
}
/* Galleries
==========================================*/
.thumbnail-gallery
{
	margin-bottom: 15px;
}
.sortablegallery li
{
	margin-left: 30px;
}
/* Media
==========================================*/
.btn-centered a {
  
  display:block;
  margin-bottom:5px;
}
/* User roles
==========================================*/
.td-empty,
.table-striped tbody > tr:nth-child(odd) > td.td-empty
{
	background-color: grey;
	height: 100%;
}

/* Media Queries
==========================================*/
@media(max-width: 1024px){
	#tt-2
{
		display: none;
}
#tt-1
{
margin-left: 25em;
margin-right: auto;
}
#mixer
{
	display: none;
}
}
/* Portrait tablet to landscape
==========================================*/

@media (max-width: 979px) {

.artist-menu
{
	background-color: #c6e2cc;
	margin-bottom: 25px;
	display: none;
}



/* Content
==========================================*/

.content .nav {
	float: none;
}



/* Landscape phones and down
==========================================*/

@media (max-width: 767px) {
.lines
{
	display: none;
}
#diy
{
	display: none;
}


/* Header
==========================================*/

