/*
* Author: Volta Web
* Version: 1.0.0
* Copyright 2013 Volta Web
* www: http://volta.be
* mail: web@volta.be
*/

/* Top Navbar
==========================================*/

.view-first:hover img { 
    transform: scale(1.1);
} 
.view-first:hover .mask { 
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}
.view-first:hover a.info {
    transition-delay: 0.2s;
}
.view-first img { 
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(198,226,204, 0.7); 
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p { 
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}
.view-first a.info{
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view {
   	width: 95%;
    min-height: 100%;
    margin: 10px;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 300px;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}

.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.box {
  width: 250px;
  margin: 10px;
  float: left;
}

.box img {
  display: block;
  width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.slider-img
{
	width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-left: 30px;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}
.youtubeimgslider
{
  background-size: Auto 250px;
}
.soundimgslider
{
	background-size: Auto 250px;
}

.youtubeimg
{
  background-size: Auto 220px;
}
.soundcloudimg
{
	background-size: Auto 220px;
}

.ch-grid {
    margin: 0px 0 0 0;
    padding: 0;
    list-style: none;
    
    
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 35px;
}

.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    margin: 0 35px 20px;
    padding: 45px 0 0 0;
    height: 140px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
    color: #fff;
    padding: 0px 20px;
    font-style: italic;
    margin-top: -20px;
    margin-left: 40px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    margin-top: -12px;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}

.select2-drop 
{
	display: none;
}
#top-navbar {

	margin-bottom: 25px;
	background-color:#c6e2cc;

}
.carousel
{
	margin-bottom: 0px;
}
.thumbnails-home
{
	margin-left: 25px;
}
#myCarousel
{
	color:white;
}
.carousel-caption
{
	height: 235px;
}
.soundcloud
{
	margin-top: 80px;
}

.shelfmusicpost
{
	margin-top: 20px;
	margin-left: 10px;
}
.music-posts a
{
	text-decoration: none;
}

/* Header
==========================================*/

.site-header {
	position: relative;
}
.site-header .site-header-content {
	position: absolute;
	right: 0;
	bottom: 0;
}
.site-header .site-header-content .nav,
.site-header .site-header-content .form-search {
	margin-bottom: 0;
}
.site-header .site-header-content .form-search {
	float: right;
}
.artist-menu
{
	background-color: #c6e2cc;
	margin-bottom: 25px;
}
/* Menu
==========================================*/
.menu .nav ul {
	margin-bottom: 1px;
	padding-left: 25px;
}
.menu .nav ul > li:first-child > a {
	border-top: none;
	border-radius: 0;
}
.menu .nav ul > li:last-child > a {
	border-radius: 0;
}
/* Sidebar
==========================================*/

.newpage
{
	margin-bottom: 15px;
	display:block;
}
.buttonnewbusinnescard
{
	margin-bottom: 15px;
	display:block;
}


/* Login
==========================================*/

.login-box {
	margin: 0 auto;
	max-width: 500px;
}
/* Musicpost
==========================================*/
.postreview
{
	
	height: 100%;
	padding: 20px;
	background-color: #c6e2cc;
	margin-bottom: 25px;
}


/* Blocks
==========================================*/
.delete-links a
{
	float: right;
}
.document-links
{
		float:right;
}
/* Search
==========================================*/
.search-table td
{
	height: 60px;
}

/* Settings
==========================================*/

.button-settings
{
	margin-top: 10px;
}
/* User role
==========================================*/
.add-userbutton
{
	margin-bottom: 10px;
}
/* Usermanagement
==========================================*/
.btn-usermanagement
{
	margin-bottom: 10px;
}
/* Businesscards
==========================================*/
.thumbnail-businesscards img
{
	margin-bottom: 7px;
}
.btn-create
{
	margin-bottom: 10px;
} 
/* User roles
==========================================*/
.table td.center
{
	text-align: center;
}
.table th.center
{
	text-align: center;
}
/* Galleries
==========================================*/
.thumbnail-gallery
{
	margin-bottom: 15px;
}
.sortablegallery li
{
	margin-left: 30px;
}
/* Media
==========================================*/
.btn-centered a {
  
  display:block;
  margin-bottom:5px;
}
/* User roles
==========================================*/
.td-empty,
.table-striped tbody > tr:nth-child(odd) > td.td-empty
{
	background-color: grey;
	height: 100%;
}

/* Media Queries
==========================================*/

/* Portrait tablet to landscape
==========================================*/

@media (max-width: 979px) {

.artist-menu
{
	background-color: #c6e2cc;
	margin-bottom: 25px;
	display: none;
}

/* Content
==========================================*/

.content .nav {
	float: none;
}

}

/* Landscape phones and down
==========================================*/

@media (max-width: 767px) {


/* Header
==========================================*/

.site-header .logo {
	margin-bottom: 20px;
}

.site-header .site-header-content {
	position: static;
}
.site-header .site-header-content .nav,
.site-header .site-header-content .form-search {
	float: none;
}
.site-header .site-header-content .form-search {
	margin-top: 20px;
}
.site-header .site-header-content .nav li {
	display: block;
	width: 100%;
}


}